In [1]:
import pandas as pd
import csv

path="C://Users//oorte//Documents//RICE-CLASS-MATERIAL//team3//US_Accidents_June20.csv"
traffic_df = pd.read_csv(path)

In [2]:
traffic_df

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,MapQuest,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,MapQuest,201.0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,MapQuest,201.0,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,MapQuest,201.0,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3513612,A-3513776,Bing,NaN,2,2019-08-23 18:03:25,2019-08-23 18:32:01,34.002480,-117.379360,33.99888,-117.37094,...,False,False,False,False,False,False,Day,Day,Day,Day
3513613,A-3513777,Bing,NaN,2,2019-08-23 19:11:30,2019-08-23 19:38:23,32.766960,-117.148060,32.76555,-117.15363,...,False,False,False,False,False,False,Day,Day,Day,Day
3513614,A-3513778,Bing,NaN,2,2019-08-23 19:00:21,2019-08-23 19:28:49,33.775450,-117.847790,33.77740,-117.85727,...,False,False,False,False,False,False,Day,Day,Day,Day
3513615,A-3513779,Bing,NaN,2,2019-08-23 19:00:21,2019-08-23 19:29:42,33.992460,-118.403020,33.98311,-118.39565,...,False,False,False,False,False,False,Day,Day,Day,Day
3513616,A-3513780,Bing,NaN,2,2019-08-23 18:52:06,2019-08-23 19:21:31,34.133930,-117.230920,34.13736,-117.23934,...,False,False,False,False,False,False,Day,Day,Day,Day

In [77]:
import time 
import datetime
import numpy as np

In [78]:
 
string1 = traffic_df["Start_Time"][0]
string2 = traffic_df["End_Time"][0]

In [79]:
date_time_obj1 = datetime.datetime.strptime(string1, '%Y-%m-%d %H:%M:%S')
date_time_obj2 = datetime.datetime.strptime(string2, '%Y-%m-%d %H:%M:%S')

In [83]:
a = datetime.datetime.timestamp(date_time_obj1)
b = datetime.datetime.timestamp(date_time_obj2)
print(a,b)

1454931960.0 1454950800.0

In [80]:
date_time_objd = date_time_obj2-date_time_obj1
date_time_objd

datetime.timedelta(seconds=18840)

In [12]:
# Read strings representing Start and End of accident
date_start=traffic_df["Start_Time"].str.split(expand=True)
date_end=traffic_df["End_Time"].str.split(expand=True)

In [32]:
#Get the year
s=date_start[0].str[:4]
t=date_start[0].str[:4]
traffic_df['year_start']=pd.to_numeric(s, downcast='unsigned')
traffic_df['year_end']=pd.to_numeric(t, downcast='unsigned')

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Nautical_Twilight,Astronomical_Twilight,year_start,year_end,month_start,month_end,day_start,day_end,time_start,time_end
0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,...,Night,Night,2016,2016,02,02,08,08,08,08
1,A-2,MapQuest,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,...,Night,Day,2016,2016,02,02,08,08,08,08
2,A-3,MapQuest,201.0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,...,Day,Day,2016,2016,02,02,08,08,08,08
3,A-4,MapQuest,201.0,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,...,Day,Day,2016,2016,02,02,08,08,08,08
4,A-5,MapQuest,201.0,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,...,Day,Day,2016,2016,02,02,08,08,08,08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3513612,A-3513776,Bing,NaN,2,2019-08-23 18:03:25,2019-08-23 18:32:01,34.002480,-117.379360,33.99888,-117.37094,...,Day,Day,2019,2019,08,08,23,23,23,23
3513613,A-3513777,Bing,NaN,2,2019-08-23 19:11:30,2019-08-23 19:38:23,32.766960,-117.148060,32.76555,-117.15363,...,Day,Day,2019,2019,08,08,23,23,23,23
3513614,A-3513778,Bing,NaN,2,2019-08-23 19:00:21,2019-08-23 19:28:49,33.775450,-117.847790,33.77740,-117.85727,...,Day,Day,2019,2019,08,08,23,23,23,23
3513615,A-3513779,Bing,NaN,2,2019-08-23 19:00:21,2019-08-23 19:29:42,33.992460,-118.403020,33.98311,-118.39565,...,Day,Day,2019,2019,08,08,23,23,23,23
3513616,A-3513780,Bing,NaN,2,2019-08-23 18:52:06,2019-08-23 19:21:31,34.133930,-117.230920,34.13736,-117.23934,...,Day,Day,2019,2019,08,08,23,23,23,23

In [14]:
#Get the month
traffic_df['month_start']=int(date_start[0].str[5:7])
traffic_df['month_end']=int(date_end[0].str[5:7])

In [15]:
#Get the day
traffic_df['day_start']=date_start[0].str[8:10]
traffic_df['day_end']=date_end[0].str[8:10]

In [84]:
#Get the time
traffic_df['time_start']=date_start[0].str[8:10]
traffic_df['time_end']=date_end[0].str[8:10]
traffic_df

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Nautical_Twilight,Astronomical_Twilight,year_start,year_end,month_start,month_end,day_start,day_end,time_start,time_end
0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,...,Night,Night,2016,2016,02,02,08,08,08,08
1,A-2,MapQuest,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,...,Night,Day,2016,2016,02,02,08,08,08,08
2,A-3,MapQuest,201.0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,...,Day,Day,2016,2016,02,02,08,08,08,08
3,A-4,MapQuest,201.0,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,...,Day,Day,2016,2016,02,02,08,08,08,08
4,A-5,MapQuest,201.0,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,...,Day,Day,2016,2016,02,02,08,08,08,08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3513612,A-3513776,Bing,NaN,2,2019-08-23 18:03:25,2019-08-23 18:32:01,34.002480,-117.379360,33.99888,-117.37094,...,Day,Day,2019,2019,08,08,23,23,23,23
3513613,A-3513777,Bing,NaN,2,2019-08-23 19:11:30,2019-08-23 19:38:23,32.766960,-117.148060,32.76555,-117.15363,...,Day,Day,2019,2019,08,08,23,23,23,23
3513614,A-3513778,Bing,NaN,2,2019-08-23 19:00:21,2019-08-23 19:28:49,33.775450,-117.847790,33.77740,-117.85727,...,Day,Day,2019,2019,08,08,23,23,23,23
3513615,A-3513779,Bing,NaN,2,2019-08-23 19:00:21,2019-08-23 19:29:42,33.992460,-118.403020,33.98311,-118.39565,...,Day,Day,2019,2019,08,08,23,23,23,23
3513616,A-3513780,Bing,NaN,2,2019-08-23 18:52:06,2019-08-23 19:21:31,34.133930,-117.230920,34.13736,-117.23934,...,Day,Day,2019,2019,08,08,23,23,23,23